*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 16px;
}
body{
    line-height: 1.6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header"
                         "aside main main"
                         "aside footer footer";
    height: 100vh;
    overflow: hidden;
    gap: 1rem;
}
header{
    grid-area: header;
    border-radius: 0.2rem;
    background-color: #a7c957;
}
header > nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
header > nav > a > img{
    width: 5rem;
    aspect-ratio: 1;
}
header > nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: #000;
}
header > nav > ul > li > a:hover{
    text-decoration: underline;
}
aside{
    grid-area: aside;
}
aside > section > ul > li{
    line-height: 1.8rem;
}
main{
    grid-area: main;
    overflow: scroll;
    overflow-x: hidden;
}
main > section{
    margin-block: 1rem;
}
main > section > article > img, iframe, video{
    width: 80%;
    border-radius: 0.2rem;
}
footer{
    grid-area: footer;
}
table{
    border-collapse: collapse;
}
th{
    background-color: #a7c957;
    color: rgb(0, 0, 0);
}
th, td{
    border: groove 1px;
    padding: 0.2rem;
    width: 100%;
}
fieldset{
    border: solid 1px #a7c957;
}
form{
    width: 500px;
}
form > div{
    margin-block: 1rem;
}
form > div > label{
    font-weight: bold;
    display: block;
}
form > div > input{
    width: 100%;
    padding: 0.5rem;
    text-indent: 0.5rem;
    font-size: 1.2rem;
}
form > div > input:focus{
    outline-color: #bc4749;
}
form > button{
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    transition: 0.1s;
    cursor: pointer;
    background-color: #bc4749;
}
form > button:hover{
    background-color: #a7c957;
}